page-tabs {
    #notification-button {
        position: relative;
        width: 42px;
        top: 1px;
        right: 1px;
        overflow: visible!important;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }
    .button-right {
        display: block !important;
        width: 10% !important;
        float: right !important;
    }
}