page-profile {
    img {
        height: 100px;
        width: 100px;
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}